div.gridbox_dhx_skyblue .xhdr{
	background-image:url(../imgs/sky_blue_grid_grey.gif);
}

div.gridbox_dhx_skyblue table.hdr tr{
	background-image:url(../imgs/sky_blue_grid_grey.gif);
	background-position:0px -1px;
}
body:nth-of-type(1) div.gridbox_dhx_skyblue table.hdr tr{
	background-image:url(../imgs/sky_blue_grid_grey.gif);
	background-position:0px -1px;
}

div.gridbox_dhx_skyblue table.obj tr td{
	font-family:Tahoma;
	font-size:11px;
	border-width:0px 0px 0px 0px;
	padding-right:4px;
	padding-left:4px;
}
div.gridbox_dhx_skyblue table.hdr tr.headNumCol{
    height: 10px;
    font-size: 9px;
}
div.gridbox_dhx_skyblue table.hdr tr.headNumCol td{
    padding: 0px;
}
div.gridbox_dhx_skyblue table.hdr td div.hdrcell{
	/*padding-left:3px;*/
	width:auto;
}
html > body /**/ div.gridbox_dhx_skyblue table.hdr td div.hdrcell{
	width:100%;
}
div.gridbox_dhx_skyblue table.hdr td {
	border-width: 1px 1px 1px 1px;
	border-color : #FDFDFD #C0C0C0 #C0C0C0 #FDFDFD;
	background-color:transparent;
	font-family:Tahoma;
	font-size:11px;
	color:black;
	vertical-align:middle;
	text-align:left;
}

div.gridbox_dhx_skyblue {
  border:1px solid #999999;
}
div.gridbox table.obj tr  td{
    padding-top:3px;
    padding-bottom:3px;
}
* html .gridbox .obj td{
    height:auto;
    padding-top:3px;
    padding-bottom:3px;
}
div.gridbox table.obj.row20px tr  td{
    padding-top:0px;
    padding-bottom:0px;
}

div.gridbox table.obj tr  td.editable{
    padding:0px;
}
div.gridbox table.obj tr  td.editable div.treegrid_cell{
	padding-left:4px;
	padding-top:1px;
}
div.gridbox_dhx_skyblue table.obj_hover tr:hover{
    cursor: pointer;
}
div.gridbox_dhx_skyblue table.obj_hover tr:hover,
div.gridbox_dhx_skyblue table.obj tr.rowselected{
    background-image:url(../imgs/row_sel_back.png);
}
div.gridbox_dhx_skyblue table.obj_hover tr:hover td,
div.gridbox_dhx_skyblue table.obj tr.rowselected td{
    background-image:url(../imgs/row_sel_back.png);
}
div.gridbox_dhx_skyblue table.obj_hover.row20px tr:hover td,
div.gridbox_dhx_skyblue table.obj.row20px tr.rowselected td{
    background-image:url(../imgs/row_sel_back.png);
}

div.gridbox_dhx_skyblue table.obj_hover tr:hover td:hover,
div.gridbox_dhx_skyblue table.obj tr.rowselected td.cellselected {
    background-image:url(../imgs/cell_sel_back.png);
}
div.gridbox_dhx_skyblue .odd_dhx_skyblue,
div.gridbox_dhx_skyblue .odd_dhx_skyblue td{
    background-color: #ffffff;
    background-image:url(../imgs/odd_back.png);

}
div.gridbox_dhx_skyblue .ev_dhx_skyblue,
div.gridbox_dhx_skyblue .ev_dhx_skyblue td{
    background-color: #ffffff;
    background-image:url(../imgs/ev_back.png);
}

.dhx_combo_select, .gridbox_dhx_skyblue .dhx_combo_edit, .gridbox_dhx_skyblue .dhx_textarea{
    font-family:Tahoma;
    font-size:11px;
}
.gridbox_dhx_skyblue .dhx_combo_edit{
	padding:1px 0px 1px 1px;
}
.gridbox_dhx_skyblue .dhx_sub_row {
	background-color:transparent;
}