<<<2LAFORM>>>
<div id="VPOuter">
    <div class="VPHeader">
        <div class="VPHeaderLeft">
            <div class="VPLogo">
                <img src="/content/img/logo.png" alt="Administration" />
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="VPMiddle">
        <div class="VPMiddleInside" id="VPMainContent">
            <div id="VPPageContent">
                <div class="avtorisation">
                    <form action="javascript:{}">
                        <h2>SMS authorization</h2>
                        <input class="input" type="text" id="code" placeholder="Confirmation code" />
                            <span class="tooltip" style="float: right; margin-left: 5px">
                                <span class="tooltip_text right" style="width: 50px;">
                                    %%code%%
                                </span>
                            </span>
                        <input class="button" type="submit" value="Enter" onclick="Logon2la(jQuery('#code','.avtorisation').val())" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<<</2LAFORM>>>