.build_filter_dialog {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12000;
}
.ajax_progress{
    font-size: 14px;
    position: absolute;
    width: 200px;
    margin-top: 80px;
    margin-left: 50%;
    left: -100px;
    border: #0078ae solid 2px;
    background: #ffffff;
    padding: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.build_filter_dialog .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
}
.build_filter_dialog .dialog_content{
    position:absolute;
    width: 600px;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-300px;
    background-color: rgb(247, 248, 253);
    border: #000066 solid 1px;
    opacity: 1;
}
.build_filter_dialog .dialog_content #a_dialog_head{
    width: 600px;
    background-color: #6699ff;
}
.build_filter_dialog .dialog_content #a_dialog_content{
    text-align: left;
    width: 600px;
}
.build_filter_dialog .dialog_content #a_dialog_footer{
    width: 600px;
    text-align: right;
    vertical-align:middle;
    background-color: #6699ff;
}
.build_filter_dialog .dialog_content #a_dialog_head .head_title{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.build_filter_dialog .dialog_content #a_dialog_footer .footer_button{
    text-align: right;
    padding: 5px;
}