*{ border: transparent solid 1px; padding: 0; margin: 0; font-size: 12px}
textarea, input, select, button{ border: #aaaaaa solid 1px;}

html {
    height: 100%;
}

body { background-color: white; min-height: 100%;}

.mouseover_block{ border: #f2aa64 dashed 1px!important; }

.selected_block{ border: #ff0000 solid 1px!important; }

.contextMenu{z-index: 99999;}

.DataBaseTable{
    background-image: url(/content/img/dhtmlx_grid.png);
    background-repeat:no-repeat;
}
.ElFinder,
.DataBaseTable,
.viplancePage,
.viplanceJS,
.viplanceIframe,
.viplancePHP{
    position:relative;
    border:#999999 solid 1px;
    text-indent: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.ElFinder,
.DataBaseTable{
    line-height: 80px;
}

.viplanceIframe,
.viplanceJS,
.viplancePHP{
    overflow: hidden;
    line-height: 20px;
    width: 100px;
    height: 20px;
}
.viplancePage{
    /*overflow: hidden;*/
    line-height: 20px;
    height: 20px;
    width: inherit;
}

.DataBaseInput{
    color: #777;
}
.viplanceSelectBox{
    color: #777;
}

.editor_block_area{font-weight: bold;}