.vp_editor{
    position: relative;
    border: #c7c7c7 solid 1px;
    overflow: hidden;
}

#VP_TOOLS{
    position: relative;
    width: 100%;
    height: 27px;
    background-color: #eeeeee;
    border-bottom: solid 1px #999999;
}
#VP_TOOLS .toolbar{
    padding-left: 10px;
    float: left;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    border-left: #ffffff solid 1px;
    border-top: #ffffff solid 1px;
    background: transparent url("img/toolbar/bar_separate.png") no-repeat center left;
}

#VP_TOOLS .toolbar button{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: solid 1px transparent;
}
#VP_TOOLS .toolbar button:hover{
    border: solid 1px #cecece;
}
#VP_TOOLS .toolbar button img{
    margin-top: 2px;
}

#VP_TOOLS .toolbar button[disabled] img{
    opacity: 0.3;
}


#VP_SOURCE{
    width: 100%;
    height: 200px;
}
#VP_SOURCE #VPSourceSizer{
    width: 100%;
    height: 3px;
    border-bottom: #b3b3b3 solid 1px;
    border-top: #b3b3b3 solid 1px;
    background-color: #fbf9ee;
    margin-bottom: 1px;
    cursor: s-resize;
}

#VP_SOURCE #DocSource{
    font: 12px monospace, sans-serif;
    width: 99%;
}

#AREA_VPEDITOR{
    border: none;
}


#VPEWindowArea {position: absolute;top: 0;left: 0;margin: 0;padding: 0;width: 100%;height: 100%; font: 12px Times, serif; z-index: 1000;  }
#VPEWindowArea #VPEBack{background-color: #000a28;width: 100%;height: 100%;opacity: 0.3;}
#VPEWindowArea #VPWindowData{background-color: #ffffff; text-align: left;}
#VPEWindowArea #VPWindowData label {margin-right: 10px;}
#VPEWindowArea #VPWindowData .db_name {margin-left: 10px; color: #999999;}
#VPEWindowArea #VPEWindow{
    position: absolute;
    top: 0;
    width: 800px;
    height: 400px;
    border: #A6C9E2 solid 1px;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 2px;
}
#VPEWindowArea #VPEWindow #VPWindowFoot{}
#VPEWindowArea #VPEWindow #VPWindowHead{
    position: relative;
    background: url("/content/css/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x #5C9CCC;
    border: 1px solid #4297D7;
    color: #FFFFFF;
    font-family: "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    top: 0;
    width: 100%;
    height: 30px;
    cursor: move;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#VPEWindowArea #VPEWindow #VPWindowHead h3{color: #ffffff;text-align: left; margin: 0; padding: 7px 15px 0 15px}
#VPEWindowArea #VPEWindow #VPWindowFoot{
    padding-top: 3px;
    text-align: right;
}

.unselectable {
    -moz-user-select:none;
    -webkit-user-select:none;
}