.build_query_dialog {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12000;
}
.ajax_progress{
    font-size: 14px;
    position: absolute;
    width: 200px;
    margin-top: 80px;
    margin-left: 50%;
    left: -100px;
    border: #0078ae solid 2px;
    background: #ffffff;
    padding: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.build_query_dialog .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
}
.build_query_dialog .dialog_content{
    position:absolute;
    width: 900px;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-375px;
    padding: 2px;
    border: #A6C9E2 solid 1px;
    background-color: #ffffff;
    opacity: 1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.build_query_dialog .dialog_content #a_dialog_head{
    width: 898px;
    height: 30px;
    background: url("/content/css/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x #5C9CCC;
    border: 1px solid #4297D7;
    color: #FFFFFF;
    font-family: "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.build_query_dialog .dialog_content #a_dialog_content{
    text-align: left;
    width: 900px;
}
.build_query_dialog .dialog_content #a_dialog_footer{
    width: 900px;
    text-align: right;
    vertical-align:middle;
}
.build_query_dialog .dialog_content #a_dialog_head .head_title{
    text-align: left;
    padding: 7px 15px 0 15px
}
.build_query_dialog .dialog_content #a_dialog_footer .footer_button{
    text-align: right;
    padding: 5px;
}