<<<select_users_list>>>
    <div id= "select_user_list">
        <div style="margin-bottom: 10px;">
            <input type="checkbox" onchange="changeCheckboxes($(this),$('.items_list','#select_user_list'));" style="margin-right: 10px;" /><span>Mark all</span>
        </div>
        <div class="items_list" style="text-align: left; max-height: 400px;overflow-y: scroll;">
            %%items_list%%
        </div>
        <div style="margin:15px;">
            <input type="button" value="Ok" id="select_user_list_OK">
        </div>
    </div>
<<</select_users_list>>>

<<<select_users_list_item>>>
        <input type="checkbox" class="check_item" value="%%id%%"> %%name%% <br />
<<</select_users_list_item>>>