.action_dialog {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12000;
}
.action_dialog .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
}
.action_dialog .dialog_content{

    position:absolute;
    width: 800px;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-400px;
    padding: 2px;
    border: #A6C9E2 solid 1px;
    background-color: #ffffff;
    opacity: 1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.action_dialog .dialog_content #a_dialog_head{
    width: 798px;
    height: 30px;
    background: url("/content/css/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x #5C9CCC;
    border: 1px solid #4297D7;
    color: #FFFFFF;
    font-family: "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.action_dialog .dialog_content #a_dialog_content{
    text-align: left;
    width: 100%;
    /*height: 340px;*/
}
.action_dialog .dialog_content #a_dialog_footer{
    width: 100%;
    height: 30px;
    text-align: right;
    vertical-align:middle;
}
.action_dialog .dialog_content #a_dialog_head .head_title{
    text-align: left;
    padding: 7px 15px 0 15px
}
.action_dialog .dialog_content #a_dialog_footer .footer_button{
    text-align: right;
    padding: 5px;
}
.action_dialog .dialog_content #a_dialog_content #action_config{
    width: 250px;
    height: 340px;;
    text-align: left;
    float: left;
    padding: 10px;
    border-right: #6699ff dotted 1px;
}
.action_dialog .dialog_content #a_dialog_content #action_params{
    width: 500px;
    height: 320px;
    text-align: left;
    float: left;
    padding: 10px;
}

.action_dialog #action_params label{
    display: inline-block;
    margin-right: 10px;
}
.action_dialog #action_params select{
    margin-right: 15px;
}
.action_dialog #action_params input[type=checkbox]{
    margin-right: 5px;
}

.action_dialog #action_params label.nameParam{
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
}