@charset "utf-8";
/* 1111CSS Document */
* {
    padding: 0;
    margin: 0;
    outline:none;
    vertical-align:baseline;
    font-family:inherit;
    font-size:100%;
}
:focus {
    outline:none;
}
input[type="button"]{
    cursor:pointer;
    min-width:20px;
    padding-left:10px;
    padding-right:10px;
}
img {
    border: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.hidden {
    display: none;
}
.option_top{
    /*color: #004889;*/
    font-weight: bolder;
    background-color: #eeeeee;
}
.unselectable {
    -moz-user-select:none;
    -webkit-user-select:none;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    color: #000;
    background-color: #ededed;
    font-size: 12px;
    text-align: center;
}
body.none_back {
    background:none ;
}
#VPOuter,
#footer {
    margin: 0 auto;
    min-width: 950px;
    max-width: 100%;
    text-align: left;
}
#VPOuter {
    position: relative;
    min-height: 100%;
    height: 100%;
    text-align: left;
}
#footer {
    position: relative;
    height: 50px;
    margin-top: -50px;
    overflow: hidden;
}
#footer p {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff;
    margin-top: 12px;
}
.VPHeader {
    position: relative;
    float: left;
    width: 100%;
    height: 90px;
}
.VPHeaderLeft {
    position: relative;
    float: left;
}
.VPHeaderLeft .VPLogo {
    position: absolute;
    top: 36px;
    left: 100px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: italic;
    text-align: center;
    color: #333;
}
.VPHeaderLeft  .viplance {
    position: absolute;
    top: 65px;
    left: 300px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #24354c;
    font-weight: normal;
}

.header_right {
    position: relative;
    float: right;
}
.header_right .menu {
    position: absolute;
    width: 620px;
    left: auto;
    right: 42px;
    top: 40px;
}
.header_right .menu li {
    float: right;
    list-style: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #24354c;
    margin-left: 10px;
    margin-right: 10px;
}
.header_right .menu li a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #24354c;
    text-decoration: none;
}
.header_right .menu li a:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #24354c;
    text-decoration: underline;
    cursor: pointer;
}
.header_right .header_buttons {
    position: absolute;
    width: 620px;
    left: auto;
    right: 48px;
    top: 80px;
}
.header_right .header_buttons a {
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
.header_right .head_user_form{
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}
.VPMiddle {
    position: relative;
    float: left;
    width: 100%;
}
.VPMiddleInside {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    min-height: 450px;
    height: auto !important;

}
/********************************/
/********* Авторизация **********/
.avtorisation {
    position: relative;
    margin: 120px auto;
    width: 188px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 11px;
    color: #24354c;
    vertical-align: middle;
}
.avtorisation h2 {
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #676767;
    margin-bottom: 15px;
}
.avtorisation .input {
    width: 162px;
    padding-left: 13px;
    padding-right: 13px;
    height: 30px;
    line-height: 30px;
    float: left;
    background-color: #fff;
    border:1px #ccc solid;
    margin-bottom: 17px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #24354c;
}

.avtorisation .input#code{
    width: 132px;
    margin: 5px;
}

.avtorisation .check {
    vertical-align: middle;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.avtorisation .button {
    position: relative;
    float: right;
    width: 65px;
    height: 24px;
    background: #777;
    border: none;
    font-family: "Myriad Pro";
    color: #feffff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    padding-bottom: 2px;
}
.avtorisation .button:hover {
    background: #555;
}

.avtorisation span {
    float: left;
    margin-top: 5px;
}

.avtorisation form{
    display: block;
}
.avtorisation .socialAuthArea{
    text-align: left;
    position: relative;
    padding: 10px;
    clear: both;
}
.avtorisation .socialAuthArea a{
    padding: 5px;
}

/********************************/

/********** Главная ************/
.houme_content {
    position: relative;
    text-align: center;
    width: 100%;
}
.houme_content img {
    display: block;
    position: relative;
    margin: 0 auto;
}




/**********menu***************/

#nav {
    padding:0; 
    margin:0;
    list-style:none; 
    height:29px; 
    background:#fff;
    border-bottom:#999 solid 1px;
    position:relative;
    width:100%;
    z-index:500; 
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#333;
}
#nav li.top {
    display:block; 
    float:left; 
    height:29px;
}
#nav li.top_right {
    display:block;
    float:right;
    height:29px;

}

#nav li a.top_link {
    display:block;
    position: relative; 
    float:left;
    height:28px;
    overflow:hidden;
    top:1px;
    line-height:28px;
    color:#404040; 
    text-decoration:underline;
    font-size:11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding:0;
    cursor:pointer;
}
#nav li a.top_link span {
    float:left;
    display:block;
    padding:0 12px 0 7px;
    height:29px;
    font-size:11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#000;
    text-decoration: underline;
}
#nav li a.top_link span.add_e_del {
    float:left; 
    display:block; 
    padding:0 0px 0 5px; 
    height:29px;
    font-size:11px;
    letter-spacing: -1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#000;   
}
#nav li a.top_link img {
    display:block;
    position:relative;
    float:left;
    margin-right: 5px;
}
#nav li a.top_link span.down {
    float:left; 
    display:block; 
    padding:0 12px 0 7px; 
    height:29px;
    font-size:11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#000;
    text-decoration: underline;
}
#nav li.context a.top_link,
#nav li:hover a.top_link, 
#nav li.iehover a.top_link {
    cursor:pointer;
}

#nav li.context a.top_link span,
#nav li:hover a.top_link span,
#nav li.iehover a.top_link span {
    cursor:pointer;
    background-color: #fff;
    color:red;
}
#nav li.context a.top_link span.down,
#nav li:hover a.top_link span.down,
#nav li.iehover a.top_link span.down {
    cursor:pointer;
    color:red;
}

#nav li.context,
#nav li:hover {
    position:relative;
    z-index:200;
    cursor:pointer;
    
}
#nav li.context ul.sub,
#nav li:hover ul.sub {
    left:-1px;
    top:29px;
    background:#fff; 
    padding:2px 0 0 0;
    border:1px solid #999; 
    white-space:nowrap;
    width: auto;
    height:auto; 
    z-index:300; 
    cursor:pointer;
}
#nav li.context ul.sub li,
#nav li:hover ul.sub li {
    display:block; 
    position:relative;
    width: 100%;
    font-weight:normal; 
    cursor:pointer;
    margin-top:-2px;
}
#nav li.context ul.sub li i,
#nav li:hover ul.sub li i {
    display:block; 
    position:relative; 
    float:left;
    width: 100%;
    height: 1px;
    background-color:#fff;
    overflow:hidden;
}
#nav li.context ul.sub li a,
#nav li:hover ul.sub li a {
    display:block;
    position: relative; 
    font-size:11px; 
    height: 37px;
    width: 98%;
    margin-right: 15px;
    overflow-y: hidden;
    line-height:34px; 
    text-indent:15px; 
    text-decoration:underline;
    cursor:pointer;
    color:#000;
}
#nav li a.notClick span,
#nav li.context a.notClick,
#nav li.context ul.sub li a.notClick,
#nav li.context a.notClick:hover span,
#nav li.context ul.sub li a.fly.notClick:hover,
#nav li.context ul.sub li a.notClick:hover,
#nav li:hover a.notClick,
#nav li a.notClick span.down,
#nav li:hover ul.sub li a.notClick,
#nav li:hover a.notClick:hover span,
#nav li:hover ul.sub li a.fly.notClick:hover,
#nav li:hover ul.sub li a.notClick:hover{
    cursor: default;
    text-decoration: none;
}

#nav li ul.sub li a.fly {
    cursor:pointer;
    background:#fff url(../img/left_menu_next.png) no-repeat right center;
}
#nav li.context ul.sub li a:hover,
#nav li:hover ul.sub li a:hover {
    color:red; 
    border-color:#eee; 
    cursor:pointer;
    text-decoration: underline;
}

#nav li.context ul.sub li a.fly:hover,
#nav li:hover ul.sub li a.fly:hover {
    color:red; 
    cursor:pointer;
    background: url(../img/left_menu_next.png) no-repeat right center;
    text-decoration: underline;
}

#nav li.context li.context ul,
#nav li.context li.context li.context ul,
#nav li.context li.context li.context li.context ul,
#nav li.context li.context li.context li.context li.context ul,
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul {
    display: block;
    left:150px;
    top:-1px;
    background:#fff;
    padding:20px 0 0 0;
    border:1px solid #999; 
    white-space:nowrap; 
    width:auto;
    z-index:400; 
    height:auto;
    color:red;
}

#nav ul,
#nav li.context ul ul,
#nav li.context li.context ul ul,
#nav li.context li.context li.context ul ul,
#nav li.context li.context li.context li.context ul ul,
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul {
    position:absolute;
    left:-9999px;
    top:-9999px;
    width:0; 
    height:0; 
    margin:0; 
    padding:0; 
    list-style:none;
    color:red;
}

#nav li.context li.context a.fly,
#nav li.context li.context li.context a.fly,
#nav li.context li.context li.context li.context a.fly,
#nav li.context li.context li.context li.context li.context a.fly,
#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly {
    background: url(../img/left_menu_next.png) no-repeat right center;
    color:red;
    border-color:#fff;
}


#nav li.context li.context li a.fly,
#nav li.context li.context li.context li a.fly,
#nav li.context li.context li.context li.context li a.fly,
#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly {
    background: url(../img/left_menu_next.png) no-repeat right center;
    color:#000; 
    border-color:#bbd37e;
}

#nav li.context li.context ul,
#nav li.context li.context li.context ul,
#nav li.context li.context li.context li.context ul,
#nav li.context li.context li.context li.context li.context ul,
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul {
    padding-top: 2px;
}

#nav li:hover li a img,
#nav li:hover li:hover a img,
#nav li:hover li:hover li:hover a img ,
#nav li:hover li:hover li:hover li:hover a img ,
#nav li:hover li:hover li:hover li:hover li:hover a img {
    vertical-align: middle; 
}

#nav li.context a.top_link.current,
#nav li:hover a.top_link.current,
#nav li a.top_link.current {
    background: url("/content/img/current_menu.png") no-repeat center bottom;
}
#nav li a.top_link span.down {
    background: url("/content/img/top_menu_mark.png") no-repeat center 21px;
}
#nav li a.top_link.current span.down {
    background: none;
}

#MenuMessages a.top_link span{
    color: #d11413 !important;
}

#MenuMessages li.green{
    background-color: #beffc1;
}




.textar1 {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.div_input_label{
    border: none;
    color: #3333ff;
    font-weight: bold;
}

textarea#send_form_emails{
    width: 380px;
}
ul.menu_rules{
    margin-left: 30px;
    margin-bottom: 5px;
    list-style: none;
}
.real_name_page{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 11px;
    margin-left: 15px;
}

.element_config .btn{
    clear:both;
    cursor:pointer;
}
.nonBorder{
    border: none;
}

div.tablemanager{
    border: #999999 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fff;
    margin-top: 5px;
}
table.tablemanager {
    border: none;
    border-collapse: collapse;
    background-color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
}

.headmanagetable{
    height:30px;
    background: url("/modules/dhtmlx/grid/imgs/sky_blue_grid_grey.gif") -1px;
}

.headmanagetable th{
    border-right: #dcdcdc solid 1px;
    border-bottom: #999999 solid 1px;
    border-top: #ffffff solid 1px;
    border-left: #ffffff solid 1px;
    background: transparent;
}
table.tablemanager .even{
    background-color: #ffffff;
    background-image:url("/modules/dhtmlx/grid/imgs/ev_back.png");
}

table.tablemanager .green{
    background-color: #c8ffc8;
}

table.tablemanager td {
    border: none;
}

table.tablemanager tr:hover td {
    background-image:url("/modules/dhtmlx/grid/imgs/row_sel_back.png");
    /*background-color: #dcdcdc;*/
}
table.tablemanager tr td:hover {
    background-image:url("/modules/dhtmlx/grid/imgs/cell_sel_back.png");
    /*background-color: #d1d1d1;*/
}

/*div.gridbox_dhx_skyblue table.obj.row20px tr.rowselected td{*/
    /**/
/*}*/

/*div.gridbox_dhx_skyblue table.obj tr.rowselected td.cellselected {*/
    /**/
/*}*/

.managerhref {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
}

.managerhref:hover {
    color: red;
}

th{
    vertical-align: middle;
}

td{
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}
.td_align_top{
    vertical-align: top;
}

.grid_hover {
    background-color:#57b5ff;
    font-size:20px;
}

.edit_textarea{
    font-family: "Courier New";
    font-size: 12px;
}

.right{
    float: right;
    margin-right: 5px;
}
.left{
    float: left;
    margin-left: 5px;
}

.blueItem{
    background-color: #d1eaff;
}
li.blueItem a:hover,
li.blueItem:hover{
    background-color: #ebf6ff;
}
.outerScript{
    background-color: #fffea9;
}
li.outerScript a:hover,
li.outerScript:hover{
    background-color: #ffffb6;
}

.all_top{
    z-index: 25000!important;
}

span.tooltip{
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/help.png");
}

span.tooltip.warning{
    background: url("../img/warning.png");
}

span.tooltip .tooltip_text{
    font-weight: normal;
    display: none;
    border: #0078ae solid 1px;
    -webkit-border-radius: 7px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 7px;
    -moz-border-radius-topleft: 0;
    border-radius: 7px;
    border-top-left-radius: 0;
    padding: 10px;
    background-color: #f1f1fb;
}

span.tooltip.warning .tooltip_text{
    border: #ae1726 solid 1px;
}

span.tooltip:hover .tooltip_text{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    z-index: 15000;
}

.bigStyleButton{
    padding: 5px 15px 5px 15px;
    font-size: 14px;
}




.pathpage{
    cursor: default;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #404040;
    font-weight: bold;
    white-space: nowrap;
}

.pathpage a{
    display: inline-block;
    color:#404040;
}
.pathpage a:hover{
    color:red;
}
.PagePath{
    position: relative;
    margin-bottom: 15px;
}
.PagePath .path a{
    display: inline-block;
    color:#404040;
}
.PagePath .path a:hover{
    color:red;
}
.PagePath .path{
    cursor: default;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #404040;
    font-weight: bold;
    white-space: nowrap;
}
.PagePath .PathActLink{ position:absolute; right: 10px;}
.PagePath .PathActLink a img{ position:relative; margin-bottom: -3px;cursor: pointer; }

.input_clear_area{
    position: relative;
}
.input_clear{
    z-index: 3;
    position: relative;
    top: 3px;
    left: -18px;
    display: none;
    width: 14px;
    height: 14px;
    background: url("../img/no_gray.png") no-repeat center center;
}
.input_clear_area:hover .input_clear{
    display: inline-block;
}

label.Label{
    min-width: 50px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 10px;
}


.System_Message{
    position: relative;
    width: 100%;
    top: 200px;
    text-align: center;
    color: #7c231e;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.contextMenu{
    display: none;
}



.ui-datepicker-trigger{
    cursor: pointer;
    margin-top: 1px;
}


label.check {
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    margin-right: 7px;
}
label.check input[type="checkbox"].ActiveElementEmpty,
label.check input[type="checkbox"].ActiveElement {
    position: absolute;
    left: 0; top: 0;
}
input[type="checkbox"].ActiveElementEmpty,
input[type="checkbox"].ActiveElement{
    width: 12px;
    height: 12px;
}
input[type="checkbox"].ActiveElementEmpty + span,
input[type="checkbox"].ActiveElement + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: none;
    background-color: #ffffff;
    border: #bababa solid 1px;
    cursor: pointer;
}
input[type="checkbox"].ActiveElement:checked + span {
    background: url(../img/check.png) no-repeat;
}
input[type="checkbox"].ActiveElement:focus + span {
    border: #47AC54 solid 1px;
}

input[type="checkbox"].ActiveElementEmpty:focus + span {
    border: #e41916 solid 1px;
}

.ActiveElement,
.ActiveElementEmpty{
    padding: 1px;
    border: #bababa solid 1px;
}

.ActiveElementEmpty:focus{
    border: #e41916 solid 1px;
}

.ActiveElement:focus{
    border: #47AC54 solid 1px;
}




.dialogInputArea{
    border: #e4e4e4 solid 1px;
    padding: 5px;
}

.VPDialogTable{
    border-collapse: collapse;
}
.VPDialogTable .label{
    text-align: left;
    vertical-align: top;
    padding-right: 10px;
}

.VPDialogInput{
    padding: 2px;
    border: #bababa solid 1px;
}

.VPDialogInput:focus{
    border: #0088CC solid 1px;
}

/*textarea.notEmpty:focus,*/
/*input[type="text"].notEmpty:focus,*/
/*textarea.notEmpty,*/
/*input[type="text"].notEmpty{*/
    /*border-left: #e41916 solid 3px;*/
    /*padding-left: 5px;*/
/*}*/


.FormButtons{ text-align: center; }

.VPButton{
    padding: 5px 20px;
    margin: 10px;
    border: #bababa solid 1px;
    background-color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #434343;
    font-size: 11px;
    box-shadow: 2px 2px 2px #c6c6c6;
}
.VPButton:hover{
    background-color: #d1d1d1;
    box-shadow:none;
}

.VPEditorBtn{
    padding: 0 20px;
    margin: 2px 10px 2px 0;
    height: 18px;
    border: #bababa solid 1px;
    background-color: #e7e7e7;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.VPEditorBtn:hover{
    background-color: #d1d1d1;
}


ul.Tabs{
    list-style: none;
}
ul.Tabs li{
    display: inline-block;
    padding: 0 5px 0 5px;
    border: solid 1px #a3a3a3;
    border-bottom: none;
    background-color: #f9f9f9;
}
ul.Tabs li a{
    color: #b3b3b3;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}
ul.Tabs li.active,
ul.Tabs li:hover{
    border: solid 1px #6784b8;
    border-bottom: none;
    background-color: #e7eeff;
}
ul.Tabs li.active a,
ul.Tabs li:hover a{
    color: #555555;
    font-weight: bold;
}

.TabBlock{
    border: solid 1px #6784b8;
    padding: 5px;
}