#PrintScreenArea{
    position: absolute;
    top: 0;

}
.fade-pane {
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
.overlay {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
    opacity: 0.3;
}
.selection {
    position: absolute;
    z-index: 1000;
    display: block;
    width: 0;
    height: 0;
    -webkit-box-shadow: 0 0 18px 3px black, inset 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 18px 3px black, inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 0 18px 3px black, inset 0 1px 0 rgba(255,255,255,0.5);
}
.upload-bar {
    position: fixed;
    z-index: 1001;
    display: none;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 40px;
    top: 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #CCC;
}
.status-text {
    position:absolute;
    text-align:center;
    width: 500px;
    margin-left:-250px;
    margin-top: 10px;
    left:50%;
}
.upload-button-cancel,
.upload-button {
    float: right;
    padding: 0 10px 0 10px;
    height: 32px;
    text-align: center;
    background-color: #e15e58;
    color: #ffffff;
    border: 1px solid #7c231e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    margin-top: 4px;
    margin-right: 4px;
}
.upload-button-cancel:hover,
.upload-button:hover {
    background-color: #e11a1a;
    cursor: pointer;
}
.upload-button-cancel{
    background-color: #cccccc;
    color: #ffffff;
    border: 1px solid #666666;
}
.upload-button-cancel:hover{
    background-color: #999999;
}
.link-box {
    width: 330px;
    text-align: center;
    margin-left: 5px;
}
.clipboard-catcher {
    position: fixed;
    top: -9999px;
}

.image-container{
    overflow: scroll;
}